main, header, footer, nav {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div.headwrapper
header {
        grid-template-columns: 150px auto auto;
}

/*----------- NAVIGATION --------------*/
nav ul li a {
        padding: 0.2rem 1rem;
        border-radius: 10px;
        margin: 0.5rem 0rem;
}

/* columns */
@for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .large-#{$i} {flex-basis: $w;}
    } // end loop
/*----------- MAIN --------------*/
div.Lbuffer {
        display: flex;
}
div.Sbuffer {
        display: none;
}
/*----------- FOOTER --------------*/
    
