/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: $normalweight;

    margin: 0 auto;
}

/*----------- HEADER --------------*/
div.headWrapper{
    grid-row-start: 1;
    width: 100%;
    background-color: $subtlegrey;
    border-top: 1rem solid $accentcolor;
}
header {
    display: grid;
    grid-template-columns: 150px auto 44px;
    align-items: center;
    width: 100%;
    background-color: $subtlegrey;
    max-width: 75rem;
    margin: auto;
    img {
        height: 75px;
    }
    div#phone {
        display: none;
    }
}
div.headtext {
    height: 6rem;
    h1, h2 {
        text-shadow: 1px 1px rgb(95, 167, 113);
    }
}
/*----------- NAVIGATION --------------*/
div.navWrapper {
    grid-row-start: 4;
}
nav {
    height: 100vh;
    button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #333;
        padding: 0.6rem;
    } // button
    ul {
        border-bottom: 1px solid #eee;
        list-style: none;
        padding-left: 0;
    } // end ul
    ul li {
        border-top: 1px solid #eee;
    }
    ul li a {
        display: block;
        padding: 0.9rem 2vw;
        font-weight: $lightweight;
        color: #333;
        text-decoration: none;
        text-align: right;
        font-weight: $normalweight;
    }
    ul li a:hover {
        color: $maincolor;
    }
    ul li.active a {
        background-color: lighten($maincolor, 45%);
    } // end anchor
}
div#hamburger a, div#closex a {
    display: block;
    padding: 0.8rem 2vw;
    color: #333;
    text-decoration: none;
    text-align: right;
    font-size: 2rem;

} // end hamb/x
/* columns */
div.flexed {
    display: flex;
    flex-wrap: wrap;
}
div.centered {
    justify-content: center;
    align-items: center;
}
.column {
    padding: 0 $gutter;
}
@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i}{flex-basis: $w;}
} // end loop
/*----------- MAIN --------------*/
div.mainWrapper {
    grid-row-start: 2;
}
main {
min-height: 10rem;

}

div.lawyercard {
    background-color: $maincolor;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
div.lawyercard img {
    width: 100%;
}
div.lawyercard button {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-style: none;
}
div.lawyercard h2 {
    height: 4rem;
    padding-top: 1.8rem;
}
button.calltoaction {
    width: 100%;
    margin-bottom: 1rem;
    background-color: $accentcolor;
    color: white;
    border-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    height: 8rem;
}
div.blogcard {
    background-color: $maincolor;
    margin-bottom: 1rem;
}
div.blogcard img {
    width: 100%;
}
div.blogcard button {
    width: 100%;
    background-color: $subtlegrey;
    color: $accentcolor;
    border-style: none;
    padding: 0.5rem;  
}
div.blogcard h2 {
    text-align: center;
    color: white;
}
div.blogcard p {
    color: white;
    text-align: left;
    margin: 0.9rem;
}
div.tipfaq {
    background-color: $accentcolor;
    color: white;
    margin-bottom: 1rem;
    height: 16rem;
}
div.tipfaq h2 {
    padding-top: 1rem;
    padding-left: 1rem;
}
div.tipfaq p {
    padding-left: 1rem;
    padding-right: 1rem;
}
div.tipfaq button {
    background-color: $subtlegrey;
    color: $accentcolor;
    border-style: none;
    padding: 0.5rem;
}
div.social {
    background-color: $maincolor;
    color: rgb(233, 233, 233);
    padding: 1rem;
    display: flex;
    width: 100%;
}
div.social a {
    color: rgb(231, 231, 231);
    font-size: 3rem;
    text-decoration: none;
    flex-basis: 25%;
    text-align: center;
}
div.social a:hover {
    color: rgb(255, 255, 255);
}
div.Lbuffer {
    display: none;
}
div.Sbuffer {
    display: flex;
}
/*----------- FOOTER --------------*/
div.footWrapper {
    grid-row-start: 3;
    footer {
        padding: .5rem 2%;
        text-align: center;
        max-width: 75rem;
        font-weight: $lightweight;
        margin-top: 0.5rem;
    }
    background-color: $subtlegrey;
    width: 100%;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }