$maincolor: rgb(49, 49, 49);
$accentcolor: rgb(30, 31, 73);
$subtlegrey: #ddd;
$translucent: rgba(255,255,255,0.9);
$mainfont: 'Josefin Sans', sans-serif;
$lightweight: 300;
$normalweight: 400;
$cbr: 1rem;
$gutter: 1vw;